body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* nav bar */

nav {
  background-color: transparent;
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("./images/image-01.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: #6b9fa7;
  letter-spacing: 2px;
}

nav a:hover {
  color: white;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

.logo {
  color: white;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.title {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.content p {
  margin-top: 30px;
}

.hamburger-menu {
  display: none;
  color: white;
}

.section-1 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.wrap {
  width: 70%;
  margin: 0 auto;
}

.section-1 .inner {
  display: flex;
}

.section-1 .content-box {
  flex-basis: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-1 .inner .image-box {
  flex-basis: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.section-1 .image-box img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.section-2 {
  background-color: #302d2d;
  padding-top: 40px;
  padding-bottom: 80px;
}

.wrap1 {
  width: 60%;
  margin: 0 auto;
}

.cards-cont {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.card {
  flex-basis: 33.3333%;
  color: white;
  text-align: center;
  padding: 10px 60px;
}

.second-title {
  color: white;
  text-align: center;
}

.icon {
  font-size: 30px;
  padding-bottom: 20px;
}

.lighter-text {
  color: #889096;
  padding-top: 10px;
}

.border {
  border: 1px solid white;
  width: 3%;
  margin: 50px auto;
}

.section-3 {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 4px;
  width: 25%;
  border: 1px solid #889096;
  margin-bottom: 10px;
  margin-top: 10px;
}

input:focus {
  outline: 2px solid black;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  width: 10%;
}

.btn:hover {
  background-color: #0159b7;
}

footer {
  text-align: center;
  background-color: #302d2d;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.social-icons a {
  color: white;
}

.social-icons a:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 425px) {
  nav ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }

  .content {
    width: 80%;
  }

  button {
    width: 100%;
  }

  .title {
    width: 70%;
  }

  .section-1 .inner {
    flex-direction: column;
  }

  .section-1 .inner .image-box {
    justify-content: center;
  }

  .section-1 .image-box img {
    width: 200px;
    height: 200px;
  }

  .section-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .card {
    padding: 10px 20px;
  }

  .cards-cont {
    flex-direction: column;
  }
  .border {
    width: 10%;
  }

  input {
    width: 80%;
  }

  .btn {
    width: 30%;
  }
}
